*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: azure;
}
h1{
    font: optional;
    color: blue;
    width: 700;
}
*{
    margin: auto;
    padding: auto;
    text-align: center;
    margin-top: 2%;
}