body{
    background-color:gray;
    color: aliceblue;
}
*{
    /* background-color: black; */
    color: azure;
}
h2{
    color: aliceblue;
    font-weight: 500;
    background-color: aqua;
    margin-top: 30px;
}